<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.forsrc.auth2.dao.mapper.UserRoleMapper">

 	<resultMap id="resultMap" type="org.forsrc.auth2.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
    </resultMap>

    <select id="findByUserId" resultType="string">
        SELECT
            R.name AS roleName 
        FROM
            t_user U
            LEFT JOIN t_user_role UR
            ON U.id = UR.user_id
            LEFT JOIN t_role R
            ON U.id = UR.user_id AND R.id = UR.role_id
        WHERE
            U.id = #{userId}
        ;
    </select>
</mapper>